@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Skranji&family=Victor+Mono&display=swap');

:root {
    --primary-color: #f56960;
    --secondary-color: #f3c178;
    --accent1-color: #7d4a3b;

    --heading-font: 'Amatic SC', serif;
    --paragraph-font: 'Victor Mono', sans-serif;

    --nav-background-color: #f3c178;
    --nav-link-color: #7d4a3b;
    --nav-hover-link-color: #520160;
    --nav-hover-background-color: #f3c178;
}