* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin-left: 2rem;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 2px 1rem 2px 1rem;
}

aside {
    position: relative;
    width: 350px;
    border: 1px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 139px;
    left: 150px;
    text-shadow: 0 0 10px silver;
}

aside p {
    text-shadow: 0 0 1px black;
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 2px solid #15186f;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid #00000008;
    padding: 1rem;
    background-color: #65CCE5;
    color: #FFFDD0;
}