.callout {
	background-color: #224477;
	color: #ffffff;
	max-width: 400px;
	border: 1px solid #0000001a;
	padding: 15px;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #000000;
	padding: 3px;
	background-color: #bbbbbb;
	width: 100px;
	height: auto;
}

blockquote {
	margin: 0;

}

cite {
	font-size: smaller;
	border-top: 1px dotted #ffffff;
	display: block;
	padding-top: 3px;
	text-align: right;
}